<!DOCTYPE html>
<html>
<head>
<title>First page</title>
<style type="text/css">
body{
background-size: 1300px 690px; 
background-repeat: no-repeat;
background-color: #000000;
}
h1{
	color: white;
	text-align: center;
	padding-top: 200px;
	font-size: 60px;
}
a{
	color:gray; background-color:transparent; text-decoration:none; font-size: 40px; padding-left: 580px; }

</style></head>
<body background="/images/book2.jpg">
<h1>Hello! Welcome to virtual library</h1>
<a href="home.html">Enter</a>
</body>
</html>
